/*
 * Custom Adminbar CSS
 *
 * @package wpsvse
 */
html { margin:0!important; }
#wpadminbar .fa {
	font: normal normal normal 14px/1 FontAwesome !important;
	color: rgba(240,245,250,.6);
}
#wpadminbar {
	background: rgba(0,0,0,.75);
	height: 48px;
	line-height: 48px;
}
.wp-admin #wpadminbar { background: #23282D; }
#wpadminbar .quicklinks li#wp-admin-bar-bp-notifications #ab-pending-notifications,
#wpadminbar .quicklinks li#wp-admin-bar-my-account a span.count,
#wpadminbar .quicklinks li#wp-admin-bar-my-account-with-avatar a span.count { padding: 1px 5px; }
.navbar {
	padding-top: 48px;
	padding-bottom: 7px;
}
#wpadminbar .quicklinks .ab-empty-item, #wpadminbar .quicklinks a,
#wpadminbar .shortlink-input {
	height: 48px;
	line-height: 48px;
}
#wpadminbar>#wp-toolbar #wp-admin-bar-wpsv-logo .ab-icon {
	background-image: url(../img/icons/brand-icon.png) !important;
	background-position: center 8px;
	background-repeat: no-repeat;
	width: 32px;
	height: 24px;
}
#wpadminbar .menupop .ab-sub-wrapper, #wpadminbar .shortlink-input,
#wpadminbar .quicklinks .menupop ul.ab-sub-secondary,
#wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu,
#wpadminbar .ab-top-menu>li.hover>.ab-item,
#wpadminbar .ab-top-menu>li:hover>.ab-item,
#wpadminbar .ab-top-menu>li>.ab-item:focus,
#wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus { background: rgba(0,0,0,.75); }
#wpadminbar .quicklinks .menupop ul li:hover { background: #000; }
#wpadminbar .ab-icon, #wpadminbar .ab-item:before,
#wpadminbar>#wp-toolbar>#wp-admin-bar-root-default .ab-icon { padding: 12px 0; }
#wpadminbar .menupop .menupop>.ab-item:before { padding: 2px 0; }
#wpadminbar #wp-admin-bar-wpsv-logo>.ab-item .ab-icon:before { content: ""; }
#wpadminbar #wp-admin-bar-wpsv-logo.hover > .ab-item .ab-icon { background-position: 0 0; }
#wpadminbar>#wp-toolbar>#wp-admin-bar-top-secondary>#wp-admin-bar-search #adminbarsearch input.adminbar-input {
	margin-top: 8px;
	margin-right: 8px;
}
#wpadminbar #adminbarsearch { height: 48px; }
#wpadminbar #adminbarsearch:before { top: 14px; }
#wpadminbar>#wp-toolbar>#wp-admin-bar-top-secondary>#wp-admin-bar-search #adminbarsearch input.adminbar-input { height: 32px; }
@media (min-width: 992px) {
	#wpadminbar #wp-admin-bar-wpsvse-mobile-search { display: none; }
	#wpadminbar #wp-admin-bar-search { display: list-item; }
}
@media screen and (max-width:989px){
	#wpadminbar #wp-admin-bar-search { display: none; }
}
@media screen and (max-width:782px){
	#wpadminbar .ab-icon, #wpadminbar .ab-item:before,
	#wpadminbar>#wp-toolbar>#wp-admin-bar-root-default .ab-icon { padding: 0; }
	#wpadminbar>#wp-toolbar #wp-admin-bar-wpsv-logo .ab-icon { width: 48px; }
	#wpadminbar #wp-admin-bar-wpsvse-mobile-login,
	#wpadminbar #wp-admin-bar-wpsvse-mobile-register,
	#wpadminbar #wp-admin-bar-wpsvse-mobile-search {
		display: list-item;
		padding-left: 8px;
	}
	#wpadminbar #wp-admin-bar-wpsvse-mobile-search { padding-right: 8px; }
}
#wpadminbar .wpseo-score-icon { margin: 18px 10px 0 4px !important; }
html.wp-toolbar { padding-top: 48px; }
#wpadminbar #wp-admin-bar-my-account.with-avatar>a img {
	border: none;
	background: none;
}
#wpadminbar .svg {
    background-position: 0 14px !important;
		height: 48px !important;
}
