@charset "utf-8";
/* CSS Dev Oops */


/*
 * Globals
 */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

/* Links */
a,
a:focus,
a:hover {
  color: #333;
}

/* Custom default button */
.btn-default {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}
.btn-default:hover,
.btn-default:focus {
	border: 1px solid #ccc !important;
	background-color: #fff;
}

.little-blue {
	position: absolute;
	top: 50px;
	left: 0; 
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #eee;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
body {
  color: #747474;
  text-align: center;
}

h1 span {
	font-weight: 300;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 30px 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
	font-weight: normal;
	width: 100%;
	margin-bottom: 5px;
	border: 1px solid #fff;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

